@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --color-azul: #34B0BE;
    --color-gris: #D1CECA;
    --color-darkblue: #242635;
    --font-family: 'Montserrat', sans-serif;
    --font-seizeTitle: 112px;
    --font-seizeSubtitle: 50px;
    --font-seizeSubseccion: 32px;
    --font-seizeRegualr: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242635;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

header{
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 60px;
    /*box-shadow: 0 5px 10px 5px #242635;*/
}
nav > div > img{
    width: 45px;
    color: #34B0BE;
}

li {
    color: white;
    margin: 0 .75rem 0 .75rem;
}

.first{
    color: #34B0BE;
}

.icon-color{
    filter: invert(58%) sepia(64%) saturate(443%) hue-rotate(138deg) brightness(90%) contrast(90%);
    width: 50px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    background-color: #d1CeCA;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

.cabecera{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.circul{
    background-color: #d1ceca50;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    align-self: center;
}
.part-two{
    display: flex;
    justify-content: center;
}

.part-two > img{
    height: 480px;
}

.part-One{
    padding: 1rem 1rem;
    position: absolute;
    right: 70%;
    width: 300px;
}

h1{
    color: var(--color-azul);
    font-size: var(--font-seizeTitle);
    font-weight: bold;
}

h2{
    color: var(--color-azul);
    font-size: var(--font-seizeSubseccion);
}

h3{
    font-size: var(--font-seizeSubtitle);
    font-weight:lighter;
    color: white;
}

hr{
    margin: .5rem;
}

p{
    color: white;
    font-size: var(--font-seizeSubseccion);
}

.experiencia{
    padding: 2rem 2rem;
    position: absolute;
    left: 60%;
}

.experiencia > .iconos{
    background: var(--color-gris);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    padding: .76rem;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: center;
    display: inline-block;
}


.rectangule{
    background-color: #d1ceca50;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    padding-top: 1.5rem;
    align-self: center;
    position: absolute;
    top: 64%;
    display: flex;
    justify-content: space-evenly;
}

.rectangule > .servicio{
    width: 200px;
    height: 150px;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    background-color: var(--color-gris);
}

.rectangule > .servicio > .google{
    margin-left: 1.5rem;
}

.rectangule > .servicio > .amazon{
    margin-left: 1.2rem;
}

.rectangule > .servicio > .spotify{
    margin-left: 1.8rem;
    margin-top: .3rem;
}





@media screen and ( min-width:600px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}