@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --color-azul: #34B0BE;
    --color-gris: #D1CECA;
    --color-darkblue: #242635;
    --font-family: 'Montserrat', sans-serif;
    --font-seizeTitle: 112px;
    --font-seizeSubtitle: 50px;
    --font-seizeSubseccion: 32px;
    --font-seizeRegualr: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #242635;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

header{
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 60px;
    /*box-shadow: 0 5px 10px 5px #242635;*/
}
nav > div > img{
    width: 45px;
    color: #34B0BE;
}

li {
    color: white;
    margin: 0 .75rem 0 .75rem;
}

.first{
    color: #34B0BE;
}

.icon-color{
    filter: invert(58%) sepia(64%) saturate(443%) hue-rotate(138deg) brightness(90%) contrast(90%);
    width: 50px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    background-color: #d1CeCA;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}

.cabecera{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.circul{
    background-color: #d1ceca50;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    align-self: center;
}
.part-two{
    display: flex;
    justify-content: center;
}

.part-two > img{
    height: 480px;
}

.part-One{
    padding: 1rem 1rem;
    position: absolute;
    right: 70%;
    width: 300px;
}

h1{
    color: var(--color-azul);
    font-size: var(--font-seizeTitle);
    font-weight: bold;
}

h2{
    color: var(--color-azul);
    font-size: var(--font-seizeSubseccion);
}

h3{
    font-size: var(--font-seizeSubtitle);
    font-weight:lighter;
    color: white;
}

hr{
    margin: .5rem;
}

p{
    color: white;
    font-size: var(--font-seizeSubseccion);
}

.experiencia{
    padding: 2rem 2rem;
    position: absolute;
    left: 60%;
}

.experiencia > .iconos{
    background: var(--color-gris);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    padding: .76rem;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: center;
    display: inline-block;
}


.rectangule{
    background-color: #d1ceca50;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    padding-top: 1.5rem;
    align-self: center;
    position: absolute;
    top: 64%;
    display: flex;
    justify-content: space-evenly;
}

.rectangule > .servicio{
    width: 200px;
    height: 150px;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    background-color: var(--color-gris);
}

.rectangule > .servicio > .google{
    margin-left: 1.5rem;
}

.rectangule > .servicio > .amazon{
    margin-left: 1.2rem;
}

.rectangule > .servicio > .spotify{
    margin-left: 1.8rem;
    margin-top: .3rem;
}

main{
    margin-top: 20%;
    padding: 1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobremi{
    width: 950px;
    margin: 1rem;
    align-self: center;
}

.sobremi > .yo{
    font-size: var(--font-seizeSubtitle);
    font-weight: normal;
    margin-bottom: 50px;
}

.sobremi > .yo, .demi{
    text-align: center;
    font-weight: normal;
}

.servicios{
    margin-top: 250px;
    padding: 1rem;
}

.servicios > .yo{
    font-size: var(--font-seizeSubtitle);
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}

.card{
    width: 350px;
    height: 450px;
    background: white;
    border-radius: 10px;
    order: 0;
    z-index: -2;
    display: flex;
    flex-direction: column;
}

/*.card > .elipse{
    padding-left: 1rem;
}*/

.logo, .vocine, .lupa{
    position: relative;
    width: 125px;
    height: 125px;
    left: 115px;
    bottom: 115px;
}



.ux{
    color: black;
    font-size: 32px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.card > p{
    color: var(--color-gris);
    font-size: var(--font-seizeRegualr);
    padding-left: 3rem;
    text-align: center;
    width: 300px;
}

.articulos{
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.skill {
    margin-top: 250px;
    width: auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.skill > .yo{
    font-size: var(--font-seizeSubtitle);
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}


.habilidad{
    text-align: left;
    margin-bottom: 25px;
    padding-left: 400px;
}

progress::-webkit-progress-bar {
    background-color: #f9f5f2; 
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}

progress {
    width: 75%;
    border-radius: 1rem;
    background-color: #eeeeee;
    height: 1.25rem;
    border-radius: 1rem;
    color: white;
}

/* value: */
progress::-webkit-progress-value {
    background-color: #34B0BE;
    border-radius: 1rem;
}
progress::-moz-progress-bar {
    background-color: #34B0BE;
}
    
.trabajos{
    margin-top: 300px;
    padding: 1rem;
}

.trabajos > .yo{
    text-align: center;
    margin-bottom: 100px;
    font-size: var(--font-seizeSubtitle);
}

.trabajos > .cuadro{
    width: auto;
    height: 500px;
    display: flex;
    overflow-x: scroll;
}

.cuadro::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cuadro::-webkit-scrollbar:vertical {
    width:10px;
}

.cuadro::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.cuadro::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cuadro::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f32f;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.trabajos > .cuadro > .quest{
    padding: 1rem;
}

.contacto{
    margin-top: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
    overflow: hidden;
}

.contacto > .yo{
    text-align: center;
    margin-bottom: 100px;
    font-size: var(--font-seizeSubtitle);
}

.contacto > .contenedor{
    background-color: #34B0BE;
    width: 70%;
    height: 800px;
    align-self: center;
    overflow: hidden;
}

.card-dos{
    width: 400px;
    height: 400px;
    background: white;
}

@media screen and ( min-width:600px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}